body {
    background-color: black;
    color: grey;
}

a, span.currentLocation {
    text-decoration: none;
    display: inline-block;
    border: grey solid;
    width: 150px;
}

a:link, a:visited {
    color: grey;
}
a:hover {
    color: white;
    border: white solid;
}

a:active, span.currentLocation {
    color: red;
    border: red solid;
}